{% extends 'base.twig' %}

{% block title %}Logs del Sistema{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-primary mb-4">Logs del Sistema</h1>

        <form method="get" action="/admin/logs" class="mb-4">
            <div class="row g-3">
                <div class="col-md-4">
                    <select id="tipo" class="form-select" name="tipo" onchange="this.form.submit()">
                        <option value="">-- Todos los tipos --</option>
                        <option value="PET" {% if tipoSeleccionado == 'PET' %}selected{% endif %}>Peticiones</option>
                        <option value="ALTA" {% if tipoSeleccionado == 'ALTA' %}selected{% endif %}>Altas</option>
                        <option value="LOGIN-EX" {% if tipoSeleccionado == 'LOGIN-EX' %}selected{% endif %}>Login Exitoso</option>
                        <option value="LOGIN-ERR" {% if tipoSeleccionado == 'LOGIN-ERR' %}selected{% endif %}>Login Fallido</option>
                        <option value="LOGOUT" {% if tipoSeleccionado == 'LOGOUT' %}selected{% endif %}>Logout</option>
                    </select>
                </div>
            </div>
        </form>

        <form method="post" action="/admin/logs/borrar" class="mb-4">
            <input type="hidden" name="tipo" value="{{ tipoSeleccionado }}">
            <button type="submit" class="btn btn-danger btn-sm">Borrar Logs</button>
        </form>

        <!-- Tabla de logs -->
        {% if logs is not empty %}
            <table class="table table-striped table-hover">
                <thead class="table-primary">
                <tr>
                    <th>Tipo</th>
                    <th>Fecha-Hora</th>
                    <th>Descripción</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.tipo }}</td>
                        <td>{{ log.fechaHora|date('d/m/Y H:i:s') }}</td>
                        <td>{{ log.texto }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No hay logs para mostrar.
            </div>
        {% endif %}
    </div>
{% endblock %}
