<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Gestor Flotas</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user %}
                    {% if user.rol == 'Administrador' %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/empleados">Lista de Empleados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/registrar-empleado">Registrar Empleado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/vehiculos">Lista de Vehículos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/registrar-vehiculo">Registrar Vehículo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/logs">Ver Logs</a>
                        </li>
                    {% endif %}

                    {% if user.rol == 'Empleado Estándar' %}
                        <li class="nav-item">
                            <a class="nav-link" href="/trayectos/mis-trayectos">Mis Trayectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/trayectos/iniciar">Iniciar Trayecto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/trayectos/finalizar">Finalizar Trayecto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/trayectos/historial">Consultar Historial Vehículo</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>

            <div class="d-flex">
                {% if user %}
                    <a class="btn btn-outline-light" href="/logout">Cerrar sesión</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
